
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/socket.io.js"></script>
    
 
  </head>

    <body>

      <p>Move the cursor to calculate de distance between the square and the cursor.</p>

      <p id="distance">Distance: <span>0</span>px</p>

      <div id="element"></div>
     
    </body>
    <script type="js/hapticGlove.js"></script>
    <script src="js/conceptTest.js"></script>
    
</html>